/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Baloo Tamma 2', Arial, sans-serif;
  background-color: #fbecda;
}

.navbar {
  width: 100%;
  padding: 10px 20px;
  background-color: #fbecda;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo-name {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add pace between the logo and the nav links */
}

.logo-name img {
  height: 100px;
  width: auto;
  margin-right: 10px; /* Space between image and name */
}

.logo-name .name {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin-left: 20px; /* Move "NAME" to the right */
}

.nav-links {
  display: flex;
  gap: 30px;
  background-color: #FADDBB;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 700px; /* Move the navigation links to the left */
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-top: 120px;
}

.info {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fbecda;
  position: relative; /* Relative positioning */
}

.info h1 {
  margin: 0;
  font-size: 3em;
  font-family: 'Baloo Tamma 2', Arial, sans-serif;
  position: relative; /* Text is positioned relative to parent */
  z-index: 1;
}

.info p {
  margin: 10px 0 0;
  font-size: 1.5em;
  font-family: 'Baloo Tamma 2', Arial, sans-serif;
  position: relative;
  z-index: 1;
}

.scene-container {
  flex-basis: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbecda;
  position: relative;
}

.scene {
  width: 80%;
  padding-bottom: 50%; /* Maintain aspect ratio */
  position: relative;
}

.scene canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#typed-text {
  font-weight: bold;
  color: #333;
}

.ufo-image {
  width: 175px;
  position: absolute;
  top: 350px; /* Move image down */
  left: 55%;
  transform: translateX(-50%);
  z-index: 0;
}
